.main {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px 5px;
  gap: 20px;
}

.dark {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}