.form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 3px;
  flex-wrap: wrap;
}

.theme,
.button {
  margin-right: auto;
}

.theme {
  margin-left: 10px;
}

.errorButton {
  margin-right: 10px;
}

.dark {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  .button,
  .input {
    background-color: #1a1a1a;
    color: rgba(255, 255, 255, 0.87);
  }
}